[submodule "lab5"]
	path = lab5
	url = git@github.com:Andreanapolicy/Recursive-Descent.git
[submodule "lab6"]
	path = lab6
	url = git@github.com:Andreanapolicy/LL.git
[submodule "lab7"]
	path = lab7
	url = git@github.com:m3tro1d/lexer.git
